# Ignore general stuff, e.g. Eclipse, Mac OS X
#     This section should be used within all projects.


# Project specific ignores #
############################
#     Put you project specific stuff here but review the sections below first !!!

./fetch.js
./gatsby-node.s
./normalize.js


# Quick commands for working with ignores #
###########################################
# Shows ignored files
# git status --ignored
# Shows commited and staged files, which should be ignored
# git ls-files -i --exclude-standard


# Folders and Files #
#####################

._*

.classpath
.buildpath
.bundle
.cache
.DS_Store
.DS_Store?
.env
.eslintcache
.factorypath
.firebase
.grunt
.idea
.lock-wscript
.metadata
.mtj.tmp/ # Mobile Tools for Java (J2ME)
.node_repl_history
.npm
.nyc_output
.pnp/
.pnp.js
.project
.rvmrc
.sass-cache
.settings
.Spotlight-V100
.svn
.tmp
.Trashes
.yarn-integrity
.vscode

*~
*~*
*#
*.bak
*.ear
*.iml
*.ipr
*.jar
*.log
*.pid
*.pid.lock
*.pyc
*.pyo
*.seed
*.spool
*.swp
*.war
*.working
/db/*.sqlite3

desktop.ini
ehthumbs.db
hs_err_pid* # virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
lib-cov
logs
npm-debug.log*
pids
[Tt]humbs.db
yarn-debug.log*
yarn-error.log*


# Modules and Build directories #
#################################

# deprecated - TODO: remove in 2020
bower_components
build/
coverage
dist/
node_modules/
jspm_packages/
public/
target/
vendor/
typings/
# /bin # disabled for now - TODO: discussion
/spec/tmp/*
/target


# Compiled source #
###################

*.com
*.class
*.dll
*.exe
*.o
*.so


# Packages #
############
#     It's better to unpack these files and commit the raw source
#     git has its own built in compression methods

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tgz
*.zip

